.address-cointainer{
    // @media only screen and (max-width: 426px) {
    //     width: 90%;
    // }
}
.Card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 20px;
    background: border-box rgb(255, 255, 255);
}